<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuarios Cadastrados</title>
</head>
<body>
    <h1>Lista de Usuarios Cadastrados</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %} 
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>                  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>